body {
  /* background-image: url("https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif"); */
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: rgb(194, 233, 158);
}
.header {
  margin-left: 20px;
  margin-right: 20px;
}
.jumbotron {
  background-color: rgb(201, 236, 233);
  width: 40%;
  margin: auto;
  display: block;
  justify-content: center;
  border-radius: 30px;
}

#button {
  margin: auto;
  display: flex;
  justify-content: center;
}
/* preview image */
#output_image {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}
